* {
	padding:0px;
	margin:0px;
	min-height: 0;
}

@font-face {
    font-family: 'CurseCasual';
    src: url('Curse Casual.ttf');
}

body {
	background-color: #B9E3C6;
}

#showBtn {
    position: absolute;
    right:20px;
}

#container{
    z-index:10;
	width:100vw;
	height: 100vh;
	border-radius: 0px;
	display: grid;
	grid-template-areas: "ett tva";
	grid-column-gap:1%;
	background-color: #59C9A5;
	font-family: CurseCasual;
	color:#DAFFEF;
}

.card {
	border-radius: 30px;
}

#grupper {
    display:none;
    z-index:0;
    width:100vw;
	height: 100vh;
	border-radius: 0px;
	background-color: #59C9A5;
	font-family: CurseCasual;
	font-size:2em;
	color:#DAFFEF;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.grupp {
    display:inline-block;
    background-color:white;
    padding:10px;
    vertical-align:top;
}

#slump {
	display:grid;
	grid-template-areas: 'top''mid''bot';
	text-align: center;
	grid-auto-rows:1fr 1fr 1fr;
}

#file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file2 {
    display:inline-block;
    margin:auto;
    border-radius: 500px;
	border:none;
	color:black;
	width:60%;
	font-size: 2em;
	font-family: CurseCasual;
	font-weight: bolder;
	background-color: #D81E5B;
}

#file:focus + #file2 {
    border:2px solid black;
}

#slump h1{
	grid-area: top;
}

h1 {
	font-size: 3em;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#slump span {
	grid-area: mid;
	font-size: 4em;
	font-weight: bolder;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#slump button{
	grid-area: bot;
	border-radius: 500px;
	border:none;
	width:70%;
	height: 50%;
	font-size: 3em;
	font-family: CurseCasual;
	font-weight: bolder;
	background-color: #D81E5B;
}

#slump button:focus{
	outline:none;
	border: 2px solid; 
}


.slumpcont {
  margin:auto;
}

#elevlista {
	text-align: center;
	grid-area: tva;
	display: grid;
	grid-template-areas: 'head''inp''list';
	grid-auto-rows: 1fr 0.3fr 1.7fr; 
}

#listgrej{
	grid-area: list;
	overflow-y: scroll;
	max-height: 100%;
}

#listgrej::-webkit-scrollbar {
  display: none;
}

ul{
	list-style: none;
	font-size: 1.7em;
}

@media only screen and (min-width: 1200px) {
	#container{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		width:60vw;
		height: 70vh;
		grid-auto-columns: 1fr 1fr;
		border-radius: 30px;
	}

}

@media only screen and (orientation: portrait) {
	#container{
		grid-template-areas: 'ett''tva';
		grid-auto-rows: 100vh 100vh;
		height: 200vh;
		width: 100%;
	}
}

