* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

body{
    background-color: #292F36;
    color:#292F36;
}

.container {
    background-color: #FDFCF5;
    height: 600px;
    width:1000px;
    border-radius:5px;

    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding:10px 5px;
    padding-bottom: 10px;
}

header {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#changeInput {

    position: absolute;
    bottom:0px;
    right:0px;

    border:none;
    text-align: center;
    margin:5px;
    padding:5px;
    background-color: #9AC481;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
}

#changeInput:hover {
    background-color: #722631;
}

#addName {
    display: none;
    min-width: 0px;
    background-color: #FDFCF5;
    color: #292F36;
}

#addName:focus {
    outline: none;
    text-decoration: underline ;
}

.button {
    flex: 1 1 0;
    text-align: center;
    text-decoration: none;
    background-color: #9AC481;
    display: block;
    padding:10px;
    border-radius: 5px;
    border:none;
    font-size: 1.3rem;
    margin: 0px 5px;
    text-transform: capitalize;
    color:#FDFCF5;
    box-shadow: rgba(0,0,0,0.25) 4px 8px 12px;
}

.button:hover:not(:first-child, #addName) {
    transform: scale(99%);
    transition: ease 0.4s;
    background-color:#722631;
    box-shadow: rgba(0,0,0,0.25) 4px 6px 10px;
}

.button:first-child{
    background-color: #FDFCF5;
    box-shadow: none;
    color:#292F36;
}

main {
    display: flex;
    flex-direction: row;
    width: calc(100%-30px);
    height: calc(100% - 30px);
}

.card {
    flex: 1 1 0;
    box-shadow: rgba(0,0,0,0.25) 4px 8px 12px;
    margin:15px;
    padding:10px;
    border-radius: 5px;
    display: flex;
}

main .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main li {
    list-style-type: none;
}

main #elevlista {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#grupper {
    display: none;
}

#grupper #groups{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#grupper #groups .grupp {
    /* flex: 1 1 0; */
    height: 100%;
    /* box-shadow: rgba(0,0,0,0.25) 4px 8px 12px; */
    margin:5px;
    padding:10px;
    border-radius: 4px;
    text-transform: capitalize;
}

#grupper #groups .grupp:hover {
    transform: scale(110%);
    box-shadow: rgba(0,0,0,0.25) 5px 10px 16px;
    background-color: #722631;
    color: #FDFCF5;
    border: black 1px solid;
    z-index: 200;
    transition:ease-in-out 0.3s;
}